In [1]:
#import the libraries we will need


import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import datetime as dt

In [2]:
#now read all the files that we have for this project


test_data = pd.read_csv('Test.csv',parse_dates=['TransactionStartTime','IssuedDateLoan'])
train_data = pd.read_csv('Train.csv',parse_dates=['TransactionStartTime','IssuedDateLoan'])
unlinked_mask = pd.read_csv('unlinked_masked_final.csv',parse_dates=['TransactionStartTime'])

In [3]:
#get an overview of the data

test_data.head(20).transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
CustomerId,CustomerId_310,CustomerId_243,CustomerId_142,CustomerId_142,CustomerId_142,CustomerId_107,CustomerId_107,CustomerId_142,CustomerId_407,CustomerId_407,CustomerId_311,CustomerId_250,CustomerId_233,CustomerId_233,CustomerId_293,CustomerId_188,CustomerId_381,CustomerId_381,CustomerId_381,CustomerId_251
TransactionStartTime,2019-03-31 13:33:05,2019-03-31 15:04:09,2019-03-31 17:31:11,2019-03-31 17:32:15,2019-03-31 17:34:41,2019-03-31 17:40:20,2019-03-31 17:40:26,2019-03-31 17:44:48,2019-03-31 22:23:09,2019-03-31 22:40:34,2019-04-01 06:36:42,2019-04-01 07:01:30,2019-04-01 13:41:05,2019-04-01 13:59:09,2019-04-01 15:48:59,2019-04-01 18:23:53,2019-04-01 18:24:39,2019-04-01 18:24:51,2019-04-01 18:27:30,2019-04-01 19:05:10
Value,14000,1000,2500,500,1000,1500,1500,500,4978,4720,3500,50000,500,500,1000,3500,1000,1000,1000,1000
Amount,-14000,-1000,-2500,-500,-1000,-1500,-1500,-500,-4250,-4000,-3500,-50000,-500,-500,-1000,-3500,-1000,-1000,-1000,-1000
TransactionId,TransactionId_925,TransactionId_1080,TransactionId_2315,TransactionId_1466,TransactionId_337,TransactionId_2098,TransactionId_608,TransactionId_875,TransactionId_2604,TransactionId_1565,TransactionId_1922,TransactionId_1801,TransactionId_574,TransactionId_2218,TransactionId_1399,TransactionId_1976,TransactionId_1891,TransactionId_1285,TransactionId_729,TransactionId_2647
BatchId,BatchId_1144,BatchId_1214,BatchId_2150,BatchId_1071,BatchId_2477,BatchId_1923,BatchId_1923,BatchId_1558,BatchId_683,BatchId_1876,BatchId_1759,BatchId_1730,BatchId_2259,BatchId_1334,BatchId_1830,BatchId_605,BatchId_1225,BatchId_1225,BatchId_1768,BatchId_1111
SubscriptionId,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_5,SubscriptionId_5,SubscriptionId_5,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_7,SubscriptionId_1
CurrencyCode,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX,UGX
CountryCode,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256,256
ProviderId,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1,ProviderId_1
ProductId,ProductId_7,ProductId_8,ProductId_7,ProductId_7,ProductId_7,ProductId_3,ProductId_3,ProductId_7,ProductId_15,ProductId_15,ProductId_13,ProductId_18,ProductId_10,ProductId_10,ProductId_8,ProductId_3,ProductId_3,ProductId_3,ProductId_3,ProductId_8
ProductCategory,airtime,data_bundles,airtime,airtime,airtime,airtime,airtime,airtime,utility_bill,utility_bill,tv,retail,financial_services,financial_services,data_bundles,airtime,airtime,airtime,airtime,data_bundles
ChannelId,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1,ChannelId_1
TransactionStatus,1,1,1,1,1,0,0,1,0,0,1,1,1,1,1,1,1,1,1,0
IssuedDateLoan,2019-03-31 13:33:04,2019-03-31 15:04:08,2019-03-31 17:31:09,2019-03-31 17:32:14,2019-03-31 17:34:40,NaT,NaT,2019-03-31 17:44:47,NaT,NaT,2019-04-01 06:36:40,2019-04-01 07:01:29,2019-04-01 13:41:04,2019-04-01 13:59:09,2019-04-01 15:48:58,2019-04-01 18:23:52,2019-04-01 18:24:37,2019-04-01 18:24:50,2019-04-01 18:27:29,NaT
LoanId,LoanId_1027,LoanId_768,LoanId_1067,LoanId_202,LoanId_533,NaN,NaN,LoanId_1469,NaN,NaN,LoanId_1114,LoanId_1033,LoanId_1256,LoanId_1277,LoanId_1345,LoanId_737,LoanId_1536,LoanId_354,LoanId_1210,NaN
InvestorId,InvestorId_1,InvestorId_1,InvestorId_1,InvestorId_1,InvestorId_1,NaN,NaN,InvestorId_1,NaN,NaN,InvestorId_1,InvestorId_2,InvestorId_2,InvestorId_2,InvestorId_1,InvestorId_1,InvestorId_1,InvestorId_1,InvestorId_1,NaN
LoanApplicationId,LoanApplicationId_825,LoanApplicationId_68,LoanApplicationId_1223,LoanApplicationId_633,LoanApplicationId_309,NaN,NaN,LoanApplicationId_247,NaN,NaN,LoanApplicationId_1365,LoanApplicationId_1375,LoanApplicationId_1046,LoanApplicationId_62,LoanApplicationId_673,LoanApplicationId_1507,LoanApplicationId_668,LoanApplicationId_566,LoanApplicationId_1255,NaN
ThirdPartyId,ThirdPartyId_1175,ThirdPartyId_604,ThirdPartyId_1521,ThirdPartyId_406,ThirdPartyId_302,NaN,NaN,ThirdPartyId_281,NaN,NaN,ThirdPartyId_307,ThirdPartyId_439,ThirdPartyId_1390,ThirdPartyId_1576,ThirdPartyId_544,ThirdPartyId_1899,ThirdPartyId_591,ThirdPartyId_690,ThirdPartyId_1000,NaN

In [4]:
# FILTER THE TRAIN DATA AND FILTER ONLY THE IMPORTANT COLUMNS ONLY


train_modified = train_data[['CustomerId','Value','Amount','ProductId','IsDefaulted','BatchId','InvestorId','SubscriptionId','ChannelId','TransactionStartTime','IssuedDateLoan','ThirdPartyId']]

In [5]:
train_modified.describe()

              Value        Amount  IsDefaulted
count  2.100000e+03  2.100000e+03  1488.000000
mean   5.302947e+04 -5.291354e+04     0.119624
std    1.539498e+05  1.539653e+05     0.324630
min    1.000000e+02 -2.500000e+06     0.000000
25%    1.000000e+03 -1.200000e+04     0.000000
50%    3.500000e+03 -3.500000e+03     0.000000
75%    1.200000e+04 -1.000000e+03     0.000000
max    2.500000e+06 -1.000000e+02     1.000000

In [6]:
#FUNCTION TO CONVERT THE BATCH ID'S INTO A NUMBER; SMALL NUMBER


def label_converter(string):
    return (int(string.split('_')[1]))/100

def zero_ones(string):
    if string == 'nan':
        return(0)
    else:
        return(1)

In [7]:
train_modified['BatchId'] = train_modified.BatchId.apply(label_converter)

C:\Users\fidele\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
#MODIFIE THE VALUE AND AMOUNT COLUMNS SO THAT THEY BECOME SMALL NUMBERS


train_modified['Value'] = train_modified['Value']/5000
train_modified['Amount'] = train_modified['Amount']/5000

C:\Users\fidele\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\fidele\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
train_modified['ProductId'] = train_modified['ProductId'].apply(label_converter)
#train_modified['InvestorId'] = train_modified['InvestorId'].apply(label_converter)
train_modified['SubscriptionId'] = train_modified['SubscriptionId'].apply(label_converter)
train_modified['ChannelId'] = train_modified['ChannelId'].apply(label_converter)

C:\Users\fidele\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\fidele\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\fidele\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [10]:
train_modified.head(15)

,CustomerId,Value,Amount,ProductId,IsDefaulted,BatchId,InvestorId,SubscriptionId,ChannelId,TransactionStartTime,IssuedDateLoan,ThirdPartyId
0,CustomerId_27,0.110,-0.110,0.07,NaN,6.41,NaN,0.02,0.01,2018-09-21 12:17:39,NaT,NaN
1,CustomerId_27,0.110,-0.110,0.07,NaN,8.20,NaN,0.02,0.01,2018-09-25 09:20:29,NaT,NaN
2,CustomerId_27,0.110,-0.110,0.07,NaN,2.10,NaN,0.04,0.01,2018-09-25 10:33:31,NaT,NaN
3,CustomerId_27,0.200,-0.200,0.07,NaN,8.76,NaN,0.04,0.01,2018-09-27 10:26:41,NaT,NaN
4,CustomerId_27,0.100,-0.100,0.07,NaN,13.62,NaN,0.04,0.01,2018-09-27 12:44:21,NaT,NaN
5,CustomerId_27,0.100,-0.100,0.07,NaN,3.57,NaN,0.04,0.01,2018-09-28 12:40:48,NaT,NaN
6,CustomerId_27,0.100,-0.100,0.07,NaN,0.08,NaN,0.04,0.01,2018-10-03 09:34:04,NaT,NaN
7,CustomerId_27,0.247,-0.247,0.03,NaN,10.82,NaN,0.04,0.01,2018-10-17 09:06:16,NaT,NaN
8,CustomerId_27,0.247,-0.247,0.03,NaN,11.95,NaN,0.04,0.01,2018-10-17 12:02:45,NaT,NaN
9,CustomerId_258,2.000,-2.000,0.07,0.0,19.70,InvestorId_3,0.04,0.01,2018-10-18 16:11:55,2018-10-18 16:11:53,ThirdPartyId_648
10,CustomerId_258,2.000,-2.000,0.07,0.0,19.70,InvestorId_3,0.04,0.01,2018-10-18 16:11:55,2018-10-18 16:11:53,ThirdPartyId_68
11,CustomerId_258,2.000,-2.000,0.07,0.0,19.70,InvestorId_3,0.04,0.01,2018-10-18 16:11:55,2018-10-18 16:11:53,ThirdPartyId_1883
12,CustomerId_27,0.206,-0.206,0.03,NaN,22.53,NaN,0.04,0.01,2018-10-19 09:51:25,NaT,NaN
13,CustomerId_233,1.030,-1.030,0.07,0.0,14.58,InvestorId_3,0.04,0.01,2018-10-19 10:18:33,2018-10-19 10:18:31,ThirdPartyId_1484
14,CustomerId_233,0.103,-0.103,0.07,0.0,16.72,InvestorId_3,0.04,0.01,2018-10-19 11:01:30,2018-10-19 11:01:28,ThirdPartyId_949

In [11]:
train_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerId            2100 non-null   object
 1   Value                 2100 non-null   float64
 2   Amount                2100 non-null   float64
 3   ProductId             2100 non-null   float64
 4   IsDefaulted           1488 non-null   float64
 5   BatchId               2100 non-null   float64
 6   InvestorId            1488 non-null   object
 7   SubscriptionId        2100 non-null   float64
 8   ChannelId             2100 non-null   float64
 9   TransactionStartTime  2100 non-null   datetime64[ns]
 10  IssuedDateLoan        1488 non-null   datetime64[ns]
 11  ThirdPartyId          1486 non-null   object
dtypes: datetime64[ns](2), float64(7), object(3)
memory usage: 197.0+ KB

In [12]:
train_modified.head()

,CustomerId,Value,Amount,ProductId,IsDefaulted,BatchId,InvestorId,SubscriptionId,ChannelId,TransactionStartTime,IssuedDateLoan,ThirdPartyId
0,CustomerId_27,0.11,-0.11,0.07,NaN,6.41,NaN,0.02,0.01,2018-09-21 12:17:39,NaT,NaN
1,CustomerId_27,0.11,-0.11,0.07,NaN,8.20,NaN,0.02,0.01,2018-09-25 09:20:29,NaT,NaN
2,CustomerId_27,0.11,-0.11,0.07,NaN,2.10,NaN,0.04,0.01,2018-09-25 10:33:31,NaT,NaN
3,CustomerId_27,0.20,-0.20,0.07,NaN,8.76,NaN,0.04,0.01,2018-09-27 10:26:41,NaT,NaN
4,CustomerId_27,0.10,-0.10,0.07,NaN,13.62,NaN,0.04,0.01,2018-09-27 12:44:21,NaT,NaN

In [13]:
#DROP ALL THE ROWS WITH NO VALUES


train_modified = train_modified.dropna()

In [14]:
train_modified['InvestorId'] = train_modified['InvestorId'].apply(label_converter)
train_modified['ThirdPartyConfirmed'] = train_modified['ThirdPartyId'].apply(zero_ones)

In [15]:
def get_month(x):
    return (x.month)
    
def get_year(x):
    return (x.year)/100
    
def get_day(x):
    return (x.day)

In [16]:
train_modified['Tx_Start_month'] = train_modified['TransactionStartTime'].apply(get_month)
train_modified['Tx_Start_year'] = train_modified['TransactionStartTime'].apply(get_year)
train_modified['Tx_Start_day'] = train_modified['TransactionStartTime'].apply(get_day)

train_modified['loan_Start_month'] = train_modified['IssuedDateLoan'].apply(get_month)
train_modified['loan_Start_year'] = train_modified['IssuedDateLoan'].apply(get_year)
train_modified['loan_Start_day'] = train_modified['IssuedDateLoan'].apply(get_day)

train_modified = train_modified.drop(['TransactionStartTime','IssuedDateLoan'], axis = 1)
train_modified.head()

,CustomerId,Value,Amount,ProductId,IsDefaulted,BatchId,InvestorId,SubscriptionId,ChannelId,ThirdPartyId,ThirdPartyConfirmed,Tx_Start_month,Tx_Start_year,Tx_Start_day,loan_Start_month,loan_Start_year,loan_Start_day
9,CustomerId_258,2.000,-2.000,0.07,0.0,19.70,0.03,0.04,0.01,ThirdPartyId_648,1,10,20.18,18,10,20.18,18
10,CustomerId_258,2.000,-2.000,0.07,0.0,19.70,0.03,0.04,0.01,ThirdPartyId_68,1,10,20.18,18,10,20.18,18
11,CustomerId_258,2.000,-2.000,0.07,0.0,19.70,0.03,0.04,0.01,ThirdPartyId_1883,1,10,20.18,18,10,20.18,18
13,CustomerId_233,1.030,-1.030,0.07,0.0,14.58,0.03,0.04,0.01,ThirdPartyId_1484,1,10,20.18,19,10,20.18,19
14,CustomerId_233,0.103,-0.103,0.07,0.0,16.72,0.03,0.04,0.01,ThirdPartyId_949,1,10,20.18,19,10,20.18,19

In [17]:
train_modified.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1486 entries, 9 to 2099
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerId           1486 non-null   object
 1   Value                1486 non-null   float64
 2   Amount               1486 non-null   float64
 3   ProductId            1486 non-null   float64
 4   IsDefaulted          1486 non-null   float64
 5   BatchId              1486 non-null   float64
 6   InvestorId           1486 non-null   float64
 7   SubscriptionId       1486 non-null   float64
 8   ChannelId            1486 non-null   float64
 9   ThirdPartyId         1486 non-null   object
 10  ThirdPartyConfirmed  1486 non-null   int64
 11  Tx_Start_month       1486 non-null   int64
 12  Tx_Start_year        1486 non-null   float64
 13  Tx_Start_day         1486 non-null   int64
 14  loan_Start_month     1486 non-null   int64
 15  loan_Start_year      1486 non-null   float64
 16  loan_Start_day       1486 non-null   int64
dtypes: float64(10), int64(5), object(2)
memory usage: 209.0+ KB

In [18]:
#LETS MAKE TWO GROUPS OUT OF THE PROVIDED DATA; ONE FOR TRAINING OUR MODEL AND THE OTHER TO VALIDATE THE MODEL


train = train_modified.reset_index().iloc[0:1000]

validation = train_modified.reset_index().iloc[1001:]

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1000 non-null   int64
 1   CustomerId           1000 non-null   object
 2   Value                1000 non-null   float64
 3   Amount               1000 non-null   float64
 4   ProductId            1000 non-null   float64
 5   IsDefaulted          1000 non-null   float64
 6   BatchId              1000 non-null   float64
 7   InvestorId           1000 non-null   float64
 8   SubscriptionId       1000 non-null   float64
 9   ChannelId            1000 non-null   float64
 10  ThirdPartyId         1000 non-null   object
 11  ThirdPartyConfirmed  1000 non-null   int64
 12  Tx_Start_month       1000 non-null   int64
 13  Tx_Start_year        1000 non-null   float64
 14  Tx_Start_day         1000 non-null   int64
 15  loan_Start_month     1000 non-null   int64
 16  loan_Start_year      1000 non-null   float64
 17  loan_Start_day       1000 non-null   int64
dtypes: float64(10), int64(6), object(2)
memory usage: 140.8+ KB

In [20]:
#SEPARATE THE DATA AND THE TARGET 


x = train[['Value','Amount','ProductId','BatchId','InvestorId','SubscriptionId','ChannelId','Tx_Start_month','Tx_Start_year','Tx_Start_day','loan_Start_month','loan_Start_year','loan_Start_day','ThirdPartyConfirmed']]


y = train[['IsDefaulted']]

x.head()

,Value,Amount,ProductId,BatchId,InvestorId,SubscriptionId,ChannelId,Tx_Start_month,Tx_Start_year,Tx_Start_day,loan_Start_month,loan_Start_year,loan_Start_day,ThirdPartyConfirmed
0,2.000,-2.000,0.07,19.70,0.03,0.04,0.01,10,20.18,18,10,20.18,18,1
1,2.000,-2.000,0.07,19.70,0.03,0.04,0.01,10,20.18,18,10,20.18,18,1
2,2.000,-2.000,0.07,19.70,0.03,0.04,0.01,10,20.18,18,10,20.18,18,1
3,1.030,-1.030,0.07,14.58,0.03,0.04,0.01,10,20.18,19,10,20.18,19,1
4,0.103,-0.103,0.07,16.72,0.03,0.04,0.01,10,20.18,19,10,20.18,19,1

In [21]:
#TRAIN THE MODEL


model = RandomForestClassifier(n_estimators = 100)
model = model.fit(x, y.values.ravel())

In [22]:
#PREP THE VALIDATION DATA


x_validation = validation[['Value','Amount','ProductId','BatchId','InvestorId','SubscriptionId','ChannelId','Tx_Start_month','Tx_Start_year','Tx_Start_day','loan_Start_month','loan_Start_year','loan_Start_day','ThirdPartyConfirmed']]

validation_predicted = model.predict(x_validation)

In [23]:
y_actual = validation[['IsDefaulted']]

In [24]:
model.score(x_validation, y_actual.values.ravel())

0.7525773195876289

In [25]:
wrong = 0
right = 0
for i in range(0,len(y_actual)):
    if y_actual.values[i][0] == validation_predicted.tolist()[i]:
        right += 1
    else:
        wrong += 1

In [26]:
len(y_actual)

485

In [27]:
print(wrong,right)

120 365

In [28]:
right/(wrong + right)

0.7525773195876289

In [29]:
#LETS MODIFY THE TEST DATA TO RESEMBLE THE VALIDATION DATA


test_data = test_data[['TransactionId','Value','Amount','ProductId','BatchId','InvestorId','SubscriptionId','ChannelId','TransactionStartTime','IssuedDateLoan','ThirdPartyId']]

#lets change the vale and amount column to make sure that they are small number
test_data['Value'] = test_data['Value']/5000
test_data['Amount'] = test_data['Amount']/5000

In [30]:
test_data['ProductId'] = test_data['ProductId'].apply(label_converter)
#test_data['InvestorId'] = test_data['InvestorId'].apply(label_converter)
test_data['SubscriptionId'] = test_data['SubscriptionId'].apply(label_converter)
test_data['ChannelId'] = test_data['ChannelId'].apply(label_converter)
test_data['BatchId'] = test_data.BatchId.apply(label_converter)

In [31]:
#DROP ALL THE ROWS WITH NO VALUES


test_data = test_data.dropna()

In [32]:
test_data['InvestorId'] = test_data['InvestorId'].apply(label_converter)

In [33]:
test_data.head()

,TransactionId,Value,Amount,ProductId,BatchId,InvestorId,SubscriptionId,ChannelId,TransactionStartTime,IssuedDateLoan,ThirdPartyId
0,TransactionId_925,2.8,-2.8,0.07,11.44,0.01,0.07,0.01,2019-03-31 13:33:05,2019-03-31 13:33:04,ThirdPartyId_1175
1,TransactionId_1080,0.2,-0.2,0.08,12.14,0.01,0.07,0.01,2019-03-31 15:04:09,2019-03-31 15:04:08,ThirdPartyId_604
2,TransactionId_2315,0.5,-0.5,0.07,21.50,0.01,0.07,0.01,2019-03-31 17:31:11,2019-03-31 17:31:09,ThirdPartyId_1521
3,TransactionId_1466,0.1,-0.1,0.07,10.71,0.01,0.07,0.01,2019-03-31 17:32:15,2019-03-31 17:32:14,ThirdPartyId_406
4,TransactionId_337,0.2,-0.2,0.07,24.77,0.01,0.07,0.01,2019-03-31 17:34:41,2019-03-31 17:34:40,ThirdPartyId_302

In [34]:
test_data['Tx_Start_month'] = test_data['TransactionStartTime'].apply(get_month)
test_data['Tx_Start_year'] = test_data['TransactionStartTime'].apply(get_year)
test_data['Tx_Start_day'] = test_data['TransactionStartTime'].apply(get_day)

test_data['loan_Start_month'] = test_data['IssuedDateLoan'].apply(get_month)
test_data['loan_Start_year'] = test_data['IssuedDateLoan'].apply(get_year)
test_data['loan_Start_day'] = test_data['IssuedDateLoan'].apply(get_day)
test_data['isThirdPartyConfirmed'] = test_data['ThirdPartyId'].apply(zero_ones)

test_data = test_data.drop(['TransactionStartTime','IssuedDateLoan','ThirdPartyId'], axis = 1)
test_data.head()

,TransactionId,Value,Amount,ProductId,BatchId,InvestorId,SubscriptionId,ChannelId,Tx_Start_month,Tx_Start_year,Tx_Start_day,loan_Start_month,loan_Start_year,loan_Start_day,isThirdPartyConfirmed
0,TransactionId_925,2.8,-2.8,0.07,11.44,0.01,0.07,0.01,3,20.19,31,3,20.19,31,1
1,TransactionId_1080,0.2,-0.2,0.08,12.14,0.01,0.07,0.01,3,20.19,31,3,20.19,31,1
2,TransactionId_2315,0.5,-0.5,0.07,21.50,0.01,0.07,0.01,3,20.19,31,3,20.19,31,1
3,TransactionId_1466,0.1,-0.1,0.07,10.71,0.01,0.07,0.01,3,20.19,31,3,20.19,31,1
4,TransactionId_337,0.2,-0.2,0.07,24.77,0.01,0.07,0.01,3,20.19,31,3,20.19,31,1

In [35]:
x_test = test_data[['Value','Amount','ProductId','BatchId','InvestorId','SubscriptionId','ChannelId','Tx_Start_month','Tx_Start_year','Tx_Start_day','loan_Start_month','loan_Start_year','loan_Start_day','isThirdPartyConfirmed']]

In [36]:
test_predicted = model.predict(x_test)

In [37]:
results = {'TransactionId':test_data['TransactionId'],'IsDefaulted':test_predicted}

results = pd.DataFrame(results)

In [38]:
results.to_csv('RandomForest_Results.csv', index=False)